<div class="container-fluid">
    <h2>
        <a id="title" [routerLink]="[ '/launches']">SpaceX Launch Programs</a>
    </h2>
    <div class="row mx-1">
        <div class="filter-div col-sm-12 col-md-4 col-lg-2 p-2 mb-3">
            <h5>Filters</h5>
            <div class="filter-category horizontal-flex-center">
                Launch Year
            </div>
            <div class="row text-center">
                <ng-container *ngFor="let item of launchYears; let i=index">
                    <div class="col-6 mt-2">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn" [ngClass]="item == launchForm.get('launch_year').value ? 'btn-success' : 'btn-secondary'">
                                <input type="radio" id="{{i}}" [value]="item" (click)="filterChange(item,'launch_year')">
                                {{item}}
                            </label>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="filter-category horizontal-flex-center mt-3">
                Successful launch
            </div>
            <div class="row text-center">
                <ng-container *ngFor="let item of successList; let i=index">
                    <div class="col-6 mt-2">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn" [ngClass]="item === launchForm.get('launch_success').value ? 'btn-success' : 'btn-secondary'">
                                <input type="radio" id="launch{{i}}" [value]="item" (click)="filterChange(item,'launch_success')">
                                {{ item | stringFormat }}
                            </label>
                        </div>
                    </div>
                </ng-container>

            </div>

            <div class="filter-category horizontal-flex-center mt-3">
                Successful Landing
            </div>
            <div class="row text-center">
                <ng-container *ngFor="let item of successList; let i=index">
                    <div class="col-6 mt-2">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn" [ngClass]="item === launchForm.get('land_success').value ? 'btn-success' : 'btn-secondary'">
                                <input type="radio" id="land{{i}}" [value]="item" (click)="filterChange(item,'land_success')">
                                {{ item | stringFormat }}
                            </label>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="col-sm-12 col-md-8 col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>